node_modules/
.idea
/assets/bootstrap/
/assets/icomoon/
/public/css/icomoon/
/public/css/jquery.fancybox.css
/public/css/jquery-ui.min.css
/public/css/owl.carousel.min.css
/public/css/owl.theme.default.min.css
/public/js/bootstrap.min.js
/public/js/jquery-ui.min.js
/public/js/jquery.min.js
/public/js/jquery.fancybox.js
/public/js/owl.carousel.min.js
/public/js/typed.min.js
/assets/scss/jquery-ui.min.css
/assets/scss/owl.carousel.min.css
/assets/scss/owl.theme.default.min.css
